.titleContainer {
  display: flex;
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.1);
  background: #ffffff;
  justify-content: space-between;
  position: sticky;
  width: 100%;
}

.bootcampName{
  margin-left: 10px;
}

.logoWCS {
  height: 15%;
  width: 15%;
}

.campusName {
  font-family: 'Raleway', sans-serif;
  color: #F76C6C;
  font-size: 2em;
  line-height: 2px;
}


.countryContact {
  line-height: 60px;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  width: 5%;
  justify-content: space-around;
  margin-right: 30px;
}

.countryFlag {
  height: 15px;
  margin: auto 0px auto 2px;
}

.modalContact{
  display: block;
  position: absolute;
  max-height: 400px;
  min-width: 125px;
  max-width: 100%;
  text-align: left;
  z-index: 1000;
  list-style: none;
  padding: 0 1em;
  background-color: #ffffff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
  overflow-y: hidden;
  margin-top: 80px;

}

.modalContact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .titleContainer {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
  }

  .campusName {
    font-family: 'Raleway', sans-serif;
    color: #F76C6C;
    font-size: 1.5em;
    line-height: 2px;
  }

  .contactIcon {
    height: 10px;
    width: 10px;
    padding: 5px;
  }

  .modalContact {
    max-width: 50px;
    min-width: 40px;
  }

  .countryContact {
    font-size: 12px;
  }

  .modalContact {
    max-height: 70px;
    min-height: 50px;
    margin-top:  35px;
    padding: 0 0.5em;
  }

  .countryFlag {
    height: 15px;
    margin: auto 0px auto 10px;
  }
}
