.titleContainer {
  display: flex;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.1);
  background: #ffffff;
  justify-content: space-between;
  position: sticky;
}

.logoWCS {
  height: 15%;
  width: 15%;
}

.campusName {
  font-family: 'Raleway', sans-serif;
  color: #F76C6C;
  font-size: 2.5em;
  line-height: 2px;

}


.countryContact {
  line-height: 60px;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  width: 12%;
  justify-content: space-around;
}

.contactIcon {
  margin: auto 0px auto 2px;
  height: 36px;
  width: 36px;
}

.contactIcon img{

  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 100%;
  padding: 7px;
}


.countryFlag {
  height: 15px;
  margin: auto 0px auto 2px;

}
